<!DOCTYPE html>
<html>
    <head>
        <title>Registation Form</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        {{>main}}
        {{>footer}}
    </body>
</html>